@{
    ViewData["Title"] = "USUÁRIO ATIVADO";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <img style="margin-top:3px;width:100px" src="~/img/check_usuarioativado.jpg" />

    <p>Parabéns seu seu usuário agora está ativado, pode aproveitar todas as funcionalidades do sistema Customer Control.</p>
</div>

