<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppCustomerControl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppCustomerControl.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AppCustomerControl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cadastros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Categoria</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Setor" asp-action="Index">Setor</a>
                                <a class="dropdown-item" href="#">Produto</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Outro item</a>
                            </div>
                        </li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right:60px">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Parametros.login_usuario
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><i class="fa fa-user"></i> Perfil </a>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><i class="fa fa-key"></i> Alterar Senha </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Sair"><i class="fa fa-sign-out"></i> Sair </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Inicio do código fonte ref. ao modal login -->
    <div class="modal" id="ModalSetor" tabindex="-1" role="dialog">
        <div id="ModalSetorConteudo"></div>
    </div>
    <!-- Fim do código fonte ref. ao modal login -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AppCustomerControl
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/siteuser/css/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/siteuser/css/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- SCRIPT REFERENTE A MASCARA -->
    <script src="~/siteuser/jquery-mask-plugin/src/jquery.mask.js"></script>
    <!-- SCRIPT REFERENTE A NOTIFICAÇÃO TOAST -->
    @await Component.InvokeAsync("Notyf")
    <script src="~/siteuser/notify/notify.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function abreModalSetor() {
        $.ajax({
            url: "@Url.Action("ActionModalSetor", "Setor")",
            type: "GET",
        }).done(function (data) {
            $('#ModalSetor').modal({ backdrop: "static" });
            $('#ModalSetor').modal('show');
            $('#ModalSetorConteudo').html(data);
        });
    }
</script>