<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Andrômeda - Patrimônio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppCustomerControl.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
   
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Andrômeda Patrimônio</a>*@
                <img style="width:180px" src="~/img/logoSite2.png" />
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">SOBRE</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="text-white"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a onclick="abreModalLoginUsuario()" href="#" class="text-white"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Inicio do código fonte ref. ao modal login -->
    <div class="modal" id="ModalUsuarioLogin" tabindex="-1" role="dialog">
        <div id="ModalUsuarioLoginConteudo"></div>
    </div>
    <!-- Fim do código fonte ref. ao modal login -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Andrômeda - Gestão de Patrimônio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/siteuser/css/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/siteuser/css/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/siteuser/jquery-mask-plugin/src/jquery.mask.js"></script>
    <!-- SCRIPT REFERENTE A NOTIFICAÇÃO TOAST -->
    @await Component.InvokeAsync("Notyf")
    <script src="~/siteuser/notify/notify.js"></script> 

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function abreModalLoginUsuario() {
        $.ajax({
            url: "@Url.Action("ModalLogin", "Home")",
            type: "GET",
        }).done(function (data) {
            $('#ModalUsuarioLogin').modal({ backdrop: "static" });
            $('#ModalUsuarioLogin').modal('show');
            $('#ModalUsuarioLoginConteudo').html(data);
        });
    }
</script>