@model AppCustomerControl.Models.User
@{
    ViewData["Title"] = "Login usuário";
}

<div class="modal-dialog" role="document" style="max-width: 500px">
    <div class="modal-content">
        <div class="modal-header">
            <h5 style="margin-left:auto;margin-right:auto" class="modal-title">LOGIN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form class="modal-body">
            <div class="row">
                <img style="margin-left:auto;margin-right:auto;width:120px" src="~/img/login.png" />
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6" style="margin-left:auto;margin-right:auto">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="cpf" class="form-control" asp-for="login" placeholder="CPF">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6" style="margin-left:auto;margin-right:auto;margin-top:3px">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input asp-for="password" type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer" style="margin-top:15px">
            <button type="button" class="btn btn-success" onclick="fazLogin()"> ENTRAR</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa-solid fa-arrow-right-from-bracket"></i> FECHAR</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#cpf').mask('000.000.000-00');
    });
    function fazLogin() {
        $.ajax({
            url: "@Url.Action("Dashboard", "Home")",
            type: 'POST',
            data: $("form").serialize()
        }).done(function (data) {
            $('#ModalUsuarioLogin').modal('hide');
            location.reload();
            $.notify("Bem vindo ao sistema, aproveite todas funcionalidades!!", "success");

        }).fail(function (data) {
            console.log(data.responseText);
            $.notify(data.responseText, "error");
        });
    }
</script>